/* General Styles */
body {
    margin: 0;
    font-family: 'Instrument Sans', sans-serif;
    color: #111273;
    background-color: #ffffff;
    position: relative;
    width: 1280px;
    height: 832px;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffffff;
    margin-right: 0px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 25px;
    color: #111273;
}

.logo-text {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #111273;
}

.nav-link {
    position: absolute;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #111273;
    text-decoration: none;
}

.nav-link:nth-child(1) {
    left: 486px;
    top: 25px;
    width: 75px;
}

.nav-link:nth-child(2) {
    left: 722px;
    top: 25px;
    width: 170px;
}

.nav-link:nth-child(3) {
    left: 1036px;
    top: 25px;
    width: 125px;
}

.nav-link:nth-child(4) {
    left: 1400px;
    top: 25px;
    width: 100px;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 193px;
    text-align: left;
    gap: 5px;
    margin-top: 50px;
}

.hero-title {
    width: 643px;
    font-family: 'Instrument Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #111273;
    margin: 0px;
}

.hero-subtitle {
    width: 900px;
    font-family: 'Instrument Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #9E9CE1;
    margin-top: 2px;
    margin-bottom: 15px;
}

.cta {
    display: flex;
    position: relative;
    width: 219px;
    height: 47px;
    background: #9E9CE1;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.cta-button {
    font-family: 'Instrument Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #111273;
    background: none;
    border: none;
    cursor: pointer;
    top: 0px;
}

.cta-button:hover {
    text-decoration: underline;
}

.key-icon {
    position: absolute;
    width: 42px;
    height: 40px;
    left: 171px;
    top: 36px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border: 3px solid #000000;
}
